*{
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 10px;
}
.header{
    display: flex;
    border-bottom: rgb(218, 218, 218) 1px solid;
}
.logo img{
    width: 92px;
    margin: 3.5rem 2.5rem;
}
.search-bar{
    padding-left: 2rem;
}
.search-bar input{
    margin-top: 25px;
    width: 650px;
    height: 45px;
    border-radius: 25px;
    border:rgb(218, 218, 218) 1px solid;    
    padding-left: 20px;
    font-size: 1.6rem;
    color: #35373a;
    box-shadow: 0px .5px #e6e6e6;
    margin-bottom: 1rem;
}
.other-links{
    color: rgb(95, 99, 104);
    margin-top: 2rem;
    width: 80rem;
}
.other-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    list-style: none;
    padding-left: 2.5rem;
}
.other-links ul li{
    display: flex;
    align-items: center;
}
.other-links ul li a{
    color: rgb(95, 99, 104);
    text-decoration: none;
}
.other-links ul li span{
    font-size: 18px;
    padding-right: .5rem;
}
.settings{

    display: flex;
    margin-left: auto;
}
.settings ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 1rem;
}
.settings ul li{
    color: rgb(95, 99, 104);
    padding: 1rem;
}
.settings ul li img{
    border-radius: 50%;
    width: 3.3rem;
}
