*{
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 10px;
}
.header{
    display: flex;
    border-bottom: rgb(218, 218, 218) 1px solid;
}
.logo img{
    width: 92px;
    margin: 3.5rem 2.5rem;
}
.search-bar{
    padding-left: 2rem;
}
.search-bar input{
    margin-top: 25px;
    width: 650px;
    height: 45px;
    border-radius: 25px;
    border:rgb(218, 218, 218) 1px solid;    
    padding-left: 20px;
    font-size: 1.6rem;
    color: #35373a;
    box-shadow: 0px .5px #e6e6e6;
    margin-bottom: 1rem;
}
.other-links{
    color: rgb(95, 99, 104);
    margin-top: 2rem;
    width: 80rem;
}
.other-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    list-style: none;
    padding-left: 2.5rem;
}
.other-links ul li{
    display: flex;
    align-items: center;
}
.other-links ul li a{
    color: rgb(95, 99, 104);
    text-decoration: none;
}
.other-links ul li span{
    font-size: 18px;
    padding-right: .5rem;
}
.settings{

    display: flex;
    margin-left: auto;
}
.settings ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 1rem;
}
.settings ul li{
    color: rgb(95, 99, 104);
    padding: 1rem;
}
.settings ul li img{
    border-radius: 50%;
    width: 3.3rem;
}
/*main content styles*/
.main-content{
    padding-left: 18rem;
    height: 100vh;
}
.main-content p{
    font-size: 1.4rem;
    color: rgb(77, 81, 86);
}
.article{
    padding-bottom: .7rem;
}
.main-content section{
    width: 60rem;
}
.article p{
    font-size: 1.4rem;
    color: rgb(77, 81, 86);
}
.article a{
    text-decoration: none;
}
.title-webpage{
    font-size: 2rem;
    text-decoration: none;
}
.article a:hover{
    border-bottom: #9772B8 1px solid;
}
.article a[href="##"]{
    font-size: 1.4rem;
    padding-right: .8rem;
}
.other-options{
    width: 50rem;
}
.other-options p{
    color: rgb(32, 33, 36);
    font-size: 2.2rem;
}
.other-options ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.other-options ul li{
    display: flex;
    color: rgb(32, 33, 36);
    font-size: 1.6rem;
}
.other-options ul li a{
    padding-left: 2rem;
    justify-content: center;
    text-decoration: none;
}

.other-options ul li a:hover{
    border-bottom: rgb(32, 33, 36) 1px solid;
}
.other-pages{
    margin-bottom: 10rem;
}
.logo-final{
    margin-top: 2rem;
    width: 60rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}
.other-pages ul{
    width: 30rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 9.5rem;
    color: #4285F4;
    font-size: 1.4rem;
}
.other-pages ul li a{
    text-decoration: none;
}
.other-pages ul li a:hover{
    border-bottom: #9772B8 1px solid;
}
/*Footer styles*/
footer{
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.5rem;
    margin-top: 60rem;
    padding-left: 18rem;
}
footer p{
    padding-left: 3rem;
    padding-bottom: 1rem;
    margin-bottom: .4rem;
    
}

.footer-links{
    display: flex;
    justify-content: space-between;
    border-top:rgb(218, 218, 218) 1px solid;    ;
}
.footer-links ul{
    list-style: none
}
.footer-links section ul li a{
    text-decoration: none;
    color: inherit;
    
}
.footer-links section ul li a:hover{
    color: #35373a;
}
.footer-links section ul{
    display: flex;
}
.first-links{
    display: flex;

}
.first-links ul{
    padding: 0;
}
.first-links ul li{
    padding-left: 2rem;
    padding-right: 2rem;
}
.second-links ul li{
    padding-right: 2rem;
}

